{% extends "courses/base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <p><a href="{% url 'course_list' %}">Home</a></p>
                <title>{{ student }}'s Page</title>
                <h2>This is your Student Page {{ student }}, treat it with respect, YOU WILL GET ONLY ONE!!</h2>
{%  for course in courses %}
    <h3>Course Name: {{ course.name }}</h3>
    <h4>Teachers Name: {{ course.teacher }}</h4>
    <p>Description:{{ course.context|safe }}</p>
    View full testing results
    <strong><a href="{% url 'student_detail'%}">Here</a></strong>
{% endfor %}






            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>