{% extends 'courses/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
{% block content %}
    <title>Student Detail</title>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><a href="{% url 'course_list' %}">Home</a></p>
                <h2>Student detail Report</h2>

                <h4>{{ student }} your scores are below</h4>


                <ul>
                    {% for course_data  in scores %}
                        <li>{{ course_data.course }}

                            <ul>

                                {% for section_data in course_data.sections %}

                                    <li>{{ section_data.section }}
                                        <h4>You scored a {{ section_data.score }}%</h4>

                                        <ul>
                                            {% for question_data in section_data.questions %}
                                                <li><h4>{{ question_data.question }}</h4>
                                             </li>{% if question_data.correct %}
                                                You chose {{ question_data.correct }} that is the right answer!
                                            {% endif %}

                                                {% if question_data.incorrect %}
                                                    WRONG! your answer was: {{ question_data.incorrect }}<br>
                                                    The right answer was: {{ question_data.correct_answer|join:'' }}
                                                            {% comment %}this tag is not displaying the correct answer why?
                                                            I was calling the wrong dict I was calling question_data.correct.
                                                            This won't work because that dict only has the correct answers the
                                                            user chose.The dict I needed was question_data.correct_answer this
                                                            dict has all correct answer where question_data.correct has
                                                            {% endcomment %}
                                                    <br>
                                                {% endif %}
                                            {% endfor %}
                                            <h4>Date and time you took the test <br>{{ now }}</h4>
                                        </ul>
                                    </li>



                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>