{% extends 'courses/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
{% block content %}
    <title>Student Detail</title>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <p><a href="{% url 'course_list' %}">Home</a></p>
                <h1>Course list</h1>
                <h1>Student detail</h1>

                <h3>{{ student }} your scores are below</h3>





                <ul>
                    {% for course_data  in scores %}
                        <li>{{ course_data.course }}

                        <ul>

                            {% for section_data in course_data.sections %}

                                <li>{{ section_data.section }}: {{ section_data.score }} %

                                <ul>
                                {% for question_data in section_data.questions %}
                        <li>{{ question_data.question }}: {{ question_data.correct }}</li>

                                {% endfor %}
                                </ul>
                                </li>



                            {% endfor %}
                        </ul></li>
                    {% endfor %}
                </ul>



            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>