{% extends "courses/base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
{% block content %}
    <title>course_detail</title>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><a href="{% url 'course_list' %}">Home</a></p>
                <h2>{{ course.name }}</h2>
                <h4>The teacher for this course will be:</h4>
                <h4>{{ course.teacher }}</h4>
                <p>{{ course.context|safe }}</p>
                {% if user.is_authenticated and user in course.students.all %}
                    <h4>Students currently enrolled</h4>
                    <ul>{% for student in course.students.all %}
                        <li>{{ student }}</li>
                    {% endfor %}
                    </ul>
                    <h3>Here is a list of available Sections</h3>
                    <ul>
                        {% for section in course.section_set.all %}
                            <li><a href="{{ section.get_absolute_url }}">{{ section }}</a></li>
                        {% endfor %}
                    </ul><hr>
                    {% if form %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <table>{{ form.comment }}</table>
                            <h4>Leave a comment below. Do it... DO IT NOOOWWW!</h4>
                            <input type="submit" value="Submit">
                        </form>
                    {% endif %}
                {% else %}
                    <h3>YOU SHALL NOT PASS!</h3> (Please contact {{ course.teacher }} to enroll in this Course)
                {% endif %}<hr>
            <p><strong>Below are students scores and comments they have chosen to display. Take some time to leave a
            comment and show EVERYONE what you think!</strong></p>
            {% for comment in comments %}
                <p>
                    {{ comment }}<br>
                    -{{ comment.student }}
                </p>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>