{% extends "courses/base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
{% block content %}
    <title>course_detail</title>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Course Detail</h1>
                    <h3>{{ course.name }}</h3>
                    <h4>The teacher for this course will be:</h4>
                <h4>{{ course.teacher }}</h4>
            <p>{{ course.description }}</p>
                <ul>{% for student in course.students.all %}
                                <li>{{ student }}</li>
                            {% endfor %}
                    {% comment %}This lists every student in each Course{% endcomment %}
                </ul>
                    <ul>
                        {% for section in course.section_set.all %}
                        <li><a href="{{ section.get_absolute_url }}">{{ section }}</a> </li>
                        {% endfor %}
                    </ul>

            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>