{% extends "courses/base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
{% block content %}
    <title>Course_list</title>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

            {% if request.user.is_authenticated %}
            {% endif %}
                <h1>A Course list</h1>
                <ol>
                    {% for course in course_list %}
                        <li><a href="{{ course.get_absolute_url }}">{{ course.name }}</a> </li>
                        <p><strong>{{ course.teacher|safe }}</strong> is the teacher for this Course</p>
                        {{ course.context|safe }}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>