{% extends 'courses/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

{% block content %}
    <title>Do Section</title>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">


                <p><a href="{% url 'course_list' %}">Home</a></p>
                <button onclick="goBack()">Back</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
                <h1>Course list</h1>
                <p>Section {{ section.number }}: {{ section.title }}</p>
                <p>{{ section.context|safe }}</p>
                <p><a href="{{ section.get_test_url }}">Take the test</a></p>
                <h4>For further study please follow the link below</h4>
                <a href="{{ section.link }}" target="_blank"> For in depth study</a>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>